$darkgray: var(--bs-dark-gray);
$gray: var(--bs-gray);
$lightgray: var(--bs-gray-500);
$primary: var(--bs-primary);
$info: var(--bs-info);
$success: var(--bs-success);
$warning: var(--bs-warning);
$danger: var(--bs-danger);
$secondary: var(--bs-danger);
