html {
  #app {
    margin-left: 0px;
    margin-right: 0px;
  }

  #bms-sidebar-container {
    min-width: 7rem;
    min-height: 92vh;   
    padding: 0;
  }

  .bms-sidebar-open {
    &.active {
      color: red;
    }
  }
}

