html {
  #app {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #bms-sidebar-container {
    max-width: 10%;
    min-height: 94vh;   
    padding: 0;
    border-right: 1px solid $lightgray;
  }

  .bms-sidebar-open {
    cursor: pointer;

    &.active {
      border-bottom: 1px solid $gray;
      color: $primary;
    }
  }

  .bms-sidebar-open-collapsible {
    padding-left: .5rem;
  }

  #bms-logo {
    width: 170px;
  }

  #bms-tabs {
    max-width: 90%;
  }
}

